{% extends 'bill/base.html' %}
{% load bootstrap4 django_tables2 crispy_forms_tags %}
{% block content%}
  <div class="row">
    <div class="col-lg-6">
      <div id="container" style="width: 100%;">
        <canvas id="pie-chart"></canvas>
      </div>
    </div>

    <div class="col-lg-6">
    <div id="container" style="width: 100%;">
      <canvas id="radar-chart"></canvas>
    </div>
    </div>

    </div>

  <div class="row">
  <div class="col-lg-6">
    <!-- on affiche les lignes de la table des clients -->
      {% render_table table_client %}
    </div>

    <div class="col-lg-6">
        <!-- on affiche les lignes de la table des clients -->
          {% render_table table_fournisseur %}
        </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var config = {
      type: 'line',
      data: {
        datasets: [{
          data: {{ dataLine|safe }},
          label: "l'évolution du chiffre d'affaire au jour le jour"
        }],
        labels: {{ labelsLine|safe }}
      },
      options: {
        elements: {
        line: {
            tension: 0
        }
    }      }

    };

    var configRadar = {
      type: 'radar',
      data: {
        datasets: [{
          data: {{ dataRadar|safe }},
          label: "l'évolution du chiffre d'affaire au jour le jour"
        }],
        labels: {{ labelsRadar|safe }}
      },
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
      ctx = document.getElementById('radar-chart').getContext('2d');
      window.myRadar = new Chart(ctx, configRadar);
    };

  </script>
{% endblock %}