<ul class="nav list-group">
	<li>
    	<a class="list-group-item" href="#">Clients</a>
	</li>
	<li>
    	<a class="list-group-item" href="#">Produits</a>
	</li>
	<li class="list-group-item">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Facturation</a>
	  <div class="dropdown-menu">
	    <a class="dropdown-item" href="#">Nouvelle Facture</a>
	    <a class="dropdown-item" href="#">Modifier Facture</a>
	    <a class="dropdown-item" href="#">Supprimer Facture</a>
	  </div>
	</li>
</ul>
